@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pedidos</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Faça seu pedido</h2>
        <p>
            Faça aqui seu pedido rapidamente.
        </p>
        <p>@Html.ActionLink("Criar", "Create", "Pedido", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Veja os Pedidos</h2>
        <p>
            Veja os pedidos disponíveis.
        </p>
        <p>@Html.ActionLink("Ver", "Index", "Pedido", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Produtos</h2>
        <p>
            Veja os produtos disponíveis.
        </p>
        <p>@Html.ActionLink("Ver", "Index", "Produto", null, new { @class = "btn btn-default" })</p>
    </div>
    
</div>